
h1 {
  text-align: center;
}

.list {
  margin-top: 30px;
  margin-left: 120px;
  width: 500px;
  background-color: lightblue;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  border: 2px solid darkkhaki;
  border-radius: 20px;
  display: flex;
}

.application {
  border: 1px solid black;
  border-radius: 50px;
  min-height: 730px;
}

input[type="text"] {
  width: 250px;
}

.list-text::before {
  content: '✓';
}

.to-do {
  margin-left: 15%;
}

.error {
  border: 2px solid red;
}

.input-button {
  margin-left: 60px;
  background-color: darkcyan;
  width: 100px;
  height: 60px;
  white-space: normal;
  vertical-align: bottom;
  color: white;
  border: 3px solid darkgray;
  border-radius: 50px;
}

.line-through {
  text-decoration: line-through;
}

.list-text {
  flex-grow: 1;
  max-width: 400px;
  min-height: 50px;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.list-button {
  flex-grow: 0;
  font-size: 20px;
  width: 80px;
  height: 30px;
  margin-left: 20px;
  margin-right: 5px;
  text-align: center;
  background-color: chocolate;
}

.list-button:hover {
  background-color: pink;
  cursor: pointer;
}

.list-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dont-display {
  display: none;
}
